<div class="container">
  <div class="row">

    <div class="col-12">
      <h2 class="titulo">Teste Contratação Incca</h2>
    </div>

    <div class="col-12">
      <h3>{{cadastro == true ? 'Cadastro de empresas' : 'Edicao de empresas'}}</h3>
    </div>

    <div class="col-12 mt-2">
        <form (ngSubmit)="confirmaAcao()">

            <div class="form-group">
              <label for="nomeEmpresa">Nome</label>
              <input type="text" class="form-control" id="nomeEmpresa" name="nomeEmpresa" [(ngModel)]="empresa.nome">
            </div>

            <div class="form-group">
                <label for="cepEmpresa">CEP</label>
                <input (keyup)="consultaDadosCep()" mask='00000-000' type="text" class="form-control" id="cepEmpresa" name="cepEmpresa" [(ngModel)]="empresa.cep">
            </div>

            <div class="form-group">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" name="logradouroEmpresa" [(ngModel)]="empresa.logradouro">
            </div>

            <div class="form-group">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="empresa.complemento">
            </div>

            <div class="form-group">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="empresa.numero">
            </div>

            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="empresa.bairro">
            </div>

            <div class="form-group">
                <label for="localidade">Localidade</label>
                <input type="text" class="form-control" id="localidade" name="localidade" [(ngModel)]="empresa.localidade">
            </div>

            <div class="form-group">
                <label for="uf">UF</label>
                <input type="text" class="form-control" id="uf" name="uf" [(ngModel)]="empresa.uf">
            </div>

            <div class="form-group">
                <label for="unidade">Unidade</label>
                <input type="text" class="form-control" id="unidade" name="unidade" [(ngModel)]="empresa.unidade">
            </div>

            <div class="form-group">
                <label for="ibge">IBGE</label>
                <input type="text" class="form-control" id="ibge" name="ibge" [(ngModel)]="empresa.ibge">
            </div>

            <div class="form-group">
                <label for="gia">GIA</label>
                <input type="text" class="form-control" id="gia" name="gia" [(ngModel)]="empresa.gia">
            </div>

            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input mask="(00)00000-0000" type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="empresa.telefone">
            </div>

            <button [disabled]="loading" type="submit" class="btn btn-primary">{{cadastro == true ? 'Cadastrar' : 'Salvar alterações'}}</button>
            <button (click)="cancelaAcao()" [disabled]="loading" type="submit" class="btn btn-danger botaoCancelar">Cancelar</button>

        </form>
    </div>

    <div class="col-12">
      <h3>Lista de Empresas</h3>
    </div>


    <div *ngFor="let empresa of empresas;let i = index" class="col-12 margemEmpresas">
      <a class="margemEmpresas" (click)="hideme[i] = !hideme[i]">{{empresa.nome}}</a>
        <div *ngIf="hideme[i] == true">
          <h6>CEP: {{empresa.cep}}</h6>
          <h6>Logradouro: {{empresa.logradouro}}</h6>
          <h6>Complemento: {{empresa.complemento}}</h6>
          <h6>Número: {{empresa.numero}}</h6>
          <h6>Bairro: {{empresa.bairro}}</h6>
          <h6>Localidade: {{empresa.localidade}}</h6>
          <h6>UF: {{empresa.uf}}</h6>
          <h6>IBGE: {{empresa.ibge}}</h6>
          <h6>GIA: {{empresa.gia}}</h6>
          <h6>Telefone: {{empresa.telefone}}</h6>

          <a class="iconEditar" (click)="editaEmpresa(empresa)">Editar <i class="fas fa-pen"></i></a>  <a class="iconExcluir" (click)="excluiEmpresa(empresa.empresaId)">Excluir <i class="fas fa-trash"></i></a>  <a (click)="hidenfuncionario[f] = !hidenfuncionario[f]" class="iconAddFuncionario">  Adicionar funcionários <i class="fas fa-user-plus"></i></a>


          <h6><strong>Funcionários:</strong></h6>
          <h6 *ngFor="let funcionario of empresa.funcionarios;let u = index">{{funcionario.nome}}
            <a class="iconEditar" (click)="editaFuncionario(funcionario, u)"><i class="fas fa-pen"></i></a>  <a class="iconExcluir" (click)="excluiFuncionario(funcionario.funcionarioId,i,u)"><i class="fas fa-trash"></i></a>
          </h6>

          <div class="margemEmpresas" *ngIf="hidenfuncionario[f] == true || mostraCrudFuncionario == true">
            <div class="form-group">
                <label for="funcnome">Nome</label>
                <input type="text" class="form-control" id="funcnome" name="funcnome" [(ngModel)]="funcionario.nome">
            </div>

            <div class="form-group">
              <label for="cargo">Cargo</label>
              <select [(ngModel)]="funcionario.cargo" class="form-control" id="cargo">
                <option value="Programador">Programador</option>
                <option value="Designer">Designer</option>
                <option value="Administração">Administração</option>
              </select>
            </div>

            <div class="form-group">
                <label for="nome">Salário</label>
                <input currencyMask [options]="{ prefix: 'R$ ', align: 'left' , thousands: '.', decimal: ',' }" type="text" class="form-control" id="salario" name="salario" [(ngModel)]="funcionario.salario">
            </div>

            <div class="col-12">
              <h6 class="danger"><strong>{{mostraMensagemErro}}</strong></h6>
            </div>

            <button (click)="cadastraAlteraFuncionario(empresa.empresaId, i)" [disabled]="loading" type="submit" class="btn btn-primary">{{mostraCrudFuncionario == false ? 'Cadastrar' : 'Salvar alterações'}}</button>
            <button (click)="cancelaAcaoFuncionario(f)" [disabled]="loading" type="submit" class="btn btn-danger botaoCancelar">Cancelar</button>

          </div>

        </div>
    </div>

    <div class="col-12 margemEmpresas">
      <h3>Lista de Funcionários</h3>
    </div>

    <div class="col-12" *ngFor="let funcionario of listafuncionarios; let i = index">
      <a class="margemEmpresas" (click)="hidemefuncionariolista[i] = !hidemefuncionariolista[i]">{{funcionario.nome}}</a>
      <div *ngIf="hidemefuncionariolista[i] == true">
        <h6>Cargo: {{funcionario.cargo}} </h6>
        <h6>Salário: {{funcionario.salario | currency:'BRL'}} </h6>
        <h6>Empresa: {{funcionario.empresas.nome}}</h6>
      </div>
              
  </div>
</div>

<router-outlet></router-outlet>