.titulo{
    text-align: center;
}

.iconEditar{
    color: orange;
    cursor: pointer;
    margin-right: 10px;
}

.iconExcluir{
    color: red;
    cursor: pointer;
    margin-left: 5px;
}

.botaoCancelar{
    margin-left: 15px;
}

.danger{
    color: red;
}

.nomeEmpresa{
    cursor:pointer;
}

.iconEditar{
    margin-left: 5px;
}

.margemEmpresas{
    margin-top: 20px;
    cursor:pointer;
}

.iconAddFuncionario{
    color:green;
    margin-left: 5px;
}